.scoreCardPanelRow {
    display: table-row
}

.scoreCardPanelRow button {
    float: left;
    width: 100px
}

.scoreScore {
    float: left;
    text-align: right;
    margin: 2px
}

.vcentered {
    top: 50%;
    position: relative;
    transform: translateY(50%)
}
    
.scoreTaken {
    color: black
}

.scorePossible {
    color: grey
}
